# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# R
.Rproj.user
.Rhistory
.RData
.Ruserdata
*/_targets/*
*.Rproj
*/_targets/
*/scratch.R
#Python
*/.ipynb_checkpoints/
.DS_Store
# Large files
*.ai
*.psd
*.nc

# Subdirectory specific files
# IF NEED TO COMMIT SPECIFIC INPUT FILES,
# ADD AS USERS SUBMIT CODE IN SUBDIRECTORIES
*/in/*
*/out/*
*.html
beaufortSea/images/*
!*/images/in/*

# allow empty files to be committed
!*/in/.empty
!*/out/.empty
# Spatial
*.cpg
*.dbf
*.fix
*.prj
*.shp
*.shx

# sbtools 
beaufortSea/.Renviron


#fire and ice
fireInIce/*/out
fireInIce/*/tmp
fireInIce/*/src/__pycache__

#remove cache and dataout
fireInIce/cache
fireInIce/data_out

#remove snakemake files
fireInIce/.snakemake

#exceptions Spatial
!fireInIce/2_visualize/in/*.cpg
!fireInIce/2_visualize/in/*.dbf
!fireInIce/2_visualize/in/*.prj
!fireInIce/2_visualize/in/*.shp
!fireInIce/2_visualize/in/*.shx