@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
/* semantic color variables for this project */
/* Define colors */
:root {
  --white: #ffffff;
  --white-soft: #F0F0F0;
  --light-grey: #F8F8F8;
  --medium-light-grey: #e8e8e8;
  --black-soft: #151515;
  --dodger-blue: #1e90ff;
  --medium-grey: #B5B5B5;
  --dark-grey: #5a5a5a;
  --medium-purple: #8F00DB;
  --medium-blue: #4365A8;
  --medium-orange: #E48951;
  --light-blue: #D7DCE5;
  --dark-blue: #1D3867;
  --usgs-blue: #00264c;
  --faded-usgs-blue: #d8dee4;
  --usgs-green: #006F41;
  --mid-teal: #648E8E;
  --mid-brown: #a27846;
  --mid-blue: #265079;
  --mid-red: #b24d4b;
  --mid-purple: #845c93;
  --teal: #4E6D6E;
  --brown: #7A562B;
  --blue: #002D5E;
  --red: #B74F49;
  --purple: #835192;
  --faded-teal: #C9D8D9;;
  --faded-brown: #E1C8AA;
  --faded-blue: #B2C0CE;
  --darker-teal: #405959;
  --darker-brown: #5B401F;
  --darker-blue: #002D5E;

  font-size: 62.5%;

  --title-font: Noto Sans Mono;
  --default-font: Source Sans Pro;
  --chart-font: Roboto Condensed;
}

/* Declare color variables */
:root {
  --color-background: var(--light-grey);
  --color-text: var(--black-soft);
  --color-title-text: var(--usgs-blue);
  --color-overlay: var(--black-soft);
  --color-overlay-text: var(--white-soft);
  --color-code-links-background: var(--medium-grey);
  --color-link: var(--medium-blue);
  --color-USGS-header-footer: var(--usgs-blue);
  --color-habitat-top: var(--mid-teal);
  --color-pollution-top: var(--mid-brown);
  --color-climate-and-weather-top: var(--mid-blue);
  --color-invasive-species-top: var(--mid-red);
  --color-fishing-pressure-top: var(--mid-purple);
  --color-habitat: var(--teal);
  --color-pollution: var(--brown);
  --color-climate-and-weather: var(--blue);
  --color-invasive-species: var(--red);
  --color-fishing-pressure: var(--purple);
  --color-habitat-faded: var(--faded-teal);
  --color-pollution-faded: var(--faded-brown);
  --color-climate-and-weather-faded: var(--faded-blue);
  --color-habitat-dark: var(--darker-teal);
  --color-pollution-dark: var(--darker-brown);
  --color-climate-and-dark-faded: var(--darker-blue);
  --inactive-grey: #CCCCCC;
  --inactive-text-grey: #757575;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black-soft);
    --color-text: var(--white-soft);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  min-height: 100vh;
  color: var(--color-text);
  fill: var(--color-text); /* Needed for text added w/ d3 */
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.2;
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--default-font);
  font-size: 2rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}
h1 {
  font-size: 4rem;
  font-weight: 800;
  padding: 1rem 0 1rem 0;
  @media screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
h2 {
  font-size: 2.5rem;
  font-weight: 700;
  padding: 3rem 0 1rem 0;
  @media screen and (max-width: 600px) {
    font-size: 2.2rem;
  }
}
h3 {
  font-size: 2.2rem;
  font-weight: bold;
  padding: 3rem 0 1rem 0;
  @media screen and (max-width: 600px) {
    font-size: 1.8rem;
  }
}
p, text {
  padding: 0 0 1.5rem 0;
}
li {
  padding-bottom: 1rem;
}
li:first-of-type {
  padding-top: 1rem;
}
li:last-of-type {
  padding-bottom: 1rem;
}
