@import './base.css';
@import './common.css'; /* USGS Viz ID Stylesheet */
@import './custom.css'; /* USGS Viz ID Stylesheet */

/* whole page except header fit within viewport - no scrolling */
#app {
  /* height: calc(100vh + 87px); 87 is the height of the USGS header */
  margin: 0 auto;
}

/* css styles specific to page content exclusive of header and footer*/
/* NOT component-specific */
#visualization-container {
  margin: 0;
}
/* All content between USGS header and pre-footer code links */
.page-content {
  margin: 5rem 0 5rem 0;
  min-height: calc(100vh - 20.4px - 85.67px - 32px - 92.33px - 48.4px - 10rem); /* page height - USWDS banner - USGS header - prefooter code links - USGS footer - NavBar - container margin (top + bottom) */
}
.title {
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--title-font);
  color: var(--color-title-text);
  text-align: center;
}
.subtitle {
  font-family: sans-serif; /* This is fallback font for old browsers */
  font-family: var(--default-font);
  color: var(--color-title-text);
  text-align: center;
  font-weight: 300;
}
.title-container {
  max-width: 100%;
  max-width: 70rem; /* 70 pixels on desktop */
  margin: 20px auto 0 auto;
  /* position: -webkit-sticky; /* For Safari */
  /* position: sticky;  */
  top: 68px;
  /* z-index: 1000; */
  background-color: #d2e9ff;
  border-radius: 2px;
}
/* set color of links throughout */
a {
  color: var(--color-link);
}
/* sets width of text column throughout components */
.text-container {
  max-width: 70rem; /* 70 pixels on desktop */
  margin: 0 auto 0 auto;
  @media only screen and (max-width: 600px) {
    max-width: 90vw; /* 90% of view width on mobile */
  }
}
.text-container.mobile {
  max-width: 90vw; /* 90% of view width on mobile */
}
/* sets max-width of figure elements throughout components */
.figure-container {
  max-width: 80vw;
  margin: 0 auto 0 auto;
  @media only screen and (max-width: 600px) {
    max-width: 90vw; /* 90% of view width on mobile */
  }
}
.tooltip-span {
  position: relative;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px dotted rgba(54, 54, 54, 0.8);
  font-weight: 700;
  z-index: 10;
}
.tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  margin-left: -170px;
  margin-top: 2.3rem;
  opacity: 0;
  transition: opacity 0.3s;
}
.tooltip-group:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.scientificName {
  font-style:italic;
}


@media only screen and (max-width: 900px) {
  .title-container {
    top: 105px;
  }
}

/* css for Beaufort species-related viz */
.highlight {
  padding: 0.5px 8px 0.5px 5px;
  border-radius: 10px;
  white-space: nowrap;
  font-weight: bold;
  transition: all 0.1s; 
}
#cassidulina {
  color: white;
  background-color: #3c475a; /* contrast ratio 9.37 */
}
#elphidium {
  color: white;
  background-color: #66768F; /* contrast ratio 4.61 */
}
#paracyprideis {
  color: black;
  background-color: #729C9D; /* contrast ratio 6.95 */
}
#kotorachythere {
  color: black;
  background-color: #c49051; /* contrast ratio 7.45 */
}
#spiroplectimmina {
  color: black;
  background-color: #dd605a; /* contrast ratio 5.89 */
}
#other-species {
  color: black;
  background-color: #e7f0e7; /* contrast ratio 5.89 */
}
